---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
At AmicBridge, we unlock investment insights that lead to real opportunity.
We don’t ask for your money — we show you where it can multiply.
`;
---

<Layout title="Welcome to AmicBridge">
  <ContextAlert class="mb-8" />
  <h1 class="mb-10">AmicBridge</h1>
  <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>
