---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
At AmicBridge, we empower investors with the insights that lead to opportunity.
We don’t manage your investments — we provide the knowledge that helps you make smarter ones.
Our team analyzes emerging markets, assets, and industries to uncover where value is being created before it becomes mainstream.
Through research, data, and experience, we connect you to information that can turn understanding into advantage.
AmicBridge is where clarity meets opportunity — helping you see the paths that grow your wealth with confidence and purpose.`;
---

<Layout title="Welcome to Amicbridge.">
    <ContextAlert class="mb-8" />
    <h1 class="mb-10">Amicbridge.com</h1>
    <Markdown content={explainer} class="mb-10 text-lg" />
    <p>

