---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
import Markdown from '../components/Markdown.astro';

const explainer = `
At AmicBridge, we unlock investment insights that lead to real opportunity.
We don’t ask for your money — we show you where it can multiply.

Whether you’re investing in Crypto, real estate, or digital assets, AmicBridge helps you understand where capital is moving — and why.
Knowledge is the bridge between uncertainty and wealth.
Join AmicBridge and gain access to opportunities others don’t even see coming.`;
---

<Layout title="Welcome to AmicBridge">
  <ContextAlert class="mb-8" />
  <h1 class="mb-10">AmicBridge</h1>
  <Markdown content={explainer} class="mb-10 text-lg" />
</Layout>
